* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 70%;
  margin: 3rem auto 0 auto;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 1em;
  text-align: center;
}

input {
  padding: 1.1rem 2rem;
  width: 100%
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.btn {
  padding: 1.1rem 2rem;
  background: #334;
  color: whitesmoke;
  border-radius: .5rem;
  cursor: pointer;
}

.todo-content {
  margin-top: 2em;
}